.ProfileInput {
  width: 60%;
}
.ProfileInput input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(179, 179, 179, 0.3);
  color: white;
  margin-top: 10px;
}
