.Player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: #282828;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'cover player empty';
  align-content: center;
}
