.Player {
  position: fixed;
  bottom: 0;
  // right: 0;
  width: calc(100% - 230px);
  height: 125px;
  padding: 20px;
  background-color: #282828;
  display: grid;
  justify-items: center;
  grid-template-columns: 20% 80%;
  grid-template-areas: 'cover player';
  align-content: center;
}
