.player-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-area: player;
}
.player-panel-icon {
	width: 32px;
	height: 32px;
}
.player-panel-icon img {
	width: 32px;
}
.player-panel-bar {
	width: 80%;
	height: 12px;
	background-color: #535353;
	border-radius: 12px;
	margin-top: 12px;
}
