$color-black: #050505;
$color-background: #121212;
$color-banner: #040404;
$color-btn: #050505;
$color-btn-hover: #333333;
$color-btn-border-hover: #fff;
$color-btn-active: #333333;
$color-white: #ffffff;
$color-boxes: rgba(40, 40, 40, 0.4);
$color-inputs: rgba(179, 179, 179, 0.3);
